
.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  flex-direction: row;
  background: #3d87e7;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  color: whitesmoke;
}

a {
  text-decoration:none
  color: whitesmoke;
}

.header-password {
  display: flex;
  margin-right: 20px;
  font-size: 15px;
}

.menu-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  margin-left: 1rem;
  font-size: 2rem;
}

.menu-content > a > img {
  padding-top: 5px;
}

.menu-content > a {
  padding-left: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  padding-top: 5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
}

.profile-img > img {
  margin: auto;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 20rem;
  border-top: 2px solid rgb(182, 182, 182);
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 9rem;
  margin-top: 10px;
}

.left-panel > p {
  margin-block-start: 7px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 9rem;
  margin-top: 10px;
}

.right-panel > p {
  margin-block-start: 7px;
}